



/* pop-up text arrow */

.footer-bottom a span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2fdab8;
    position: absolute;
    bottom: -4px;
    left: 21px;
}
.footer-bottom a:hover span {
    bottom: 41px;
    visibility: visible;
    opacity: 1;
}

/*-- //header-bot --*/
/*-- banner-top --*/
.ban-top{
	background:#000;
    padding: 0px 0;
}
.dropdown-menu.columns-3 {
    min-width: 700px;
    padding: 30px 30px;
}
.multi-gd-img img{
	width:100%;
}
    
/* Common styles for all menus */


/*-- //left nav --*/
.top_nav_right {
    float: right;
    width: 21%;
}
.box_1 {
    background: #2fdab8;
    padding: 15px 22px;
    text-align: center;
}
.box_1 h3 {
    color: #fff;
    font-size: 1em;
    margin: 0;
	text-decoration:none;
    margin: 0 0 7px 0;
}
.total i {
    top: 2px;
    left: -5px;
}

.box_1 p {
	margin: 0;
    color: #999;
    font-size: 14px;
}
a.simpleCart_empty {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.header-right ul li a:hover {
    transform: rotateY(360deg);
}
/*-- //banner-top --*/
.carousel-caption {
    position: inherit;
    min-height:500px!important;
    padding-top:10em;
}



/*-- input-effect --*/
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #2fdab8;
    top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s;
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
	width:100%;
	margin: 2em 0 1em;
	position: relative;
}
.styled-input label {
	color: #555;
    padding: 0.5em 0em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: 14px;
	letter-spacing:1px;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span, .styled-input textarea ~ span {
    display: block;
    width: 0;
    height: 2px;
    background: rgb(39, 39, 39);
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span {
    bottom: 5px;
}
.styled-input input:focus.styled-input textarea:focus {
	outline: 0;
}
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;
	transition: all 0.075s;
}
.white-w3ls{
	color:#fff!important;
}
.modal-body-sub {
    padding:2em !important;
}
.modal-title {
    font-size: 1.1em;
    color: #212121;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 1em;
    letter-spacing: 2px;
}
.modal-body.modal-body-sub_agile input[type="text"],.modal-body.modal-body-sub_agile input[type="email"],.modal-body.modal-body-sub_agile input[type="password"] {
    font-size: 14px;
    letter-spacing: 1px;
    color: #777;
    padding: 0.5em 1em 0.5em 0;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
    outline: none;
}
h3.agileinfo_sign {
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2em;
}
.modal_body_right.modal_body_right1 {
    padding: 0;
}
h3.agileinfo_sign span {
font-weight:300;
}

.modal-body.modal-body-sub_agile ::-webkit-input-placeholder{
	color:#212121 !important;
}
.modal-body.modal-body-sub_agile input[type="submit"]{
    border: none;
    padding: 10px 40px 10px;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
    margin: 0 0 0 -4px;
    font-weight: 700;
    letter-spacing: 1px;
	background:#111;
    color: #fff;
}
.modal-body.modal-body-sub_agile input[type="submit"]:hover{
   background: #2fdab8;
}
.modal_body_right.modal_body_right1 img {
    width: 100%;
}
ul.social-nav.model-3d-0.footer-social.w3_agile_social.top_agile_third {
    float: left;
}
.modal-body.modal-body-sub_agile p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}
.modal-body.modal-body-sub_agile p {
    font-size: 0.85em;
    font-weight: 600;
    line-height: 2em;
    color: #000;
}
ul.social-nav.model-3d-0.footer-social.w3_agile_social.top_agile_third {
    margin: 2em 0 0.5em 0;
}
.modal_body_left.modal_body_left1 {
  padding-left:0;
}
.modal-body.modal-body-sub_agile {
    padding: 0 1em 2em 2em;
    margin-top: 1em;
}
.modal-content.top_w3lform_agile {
    padding: 2em 0;
    border-radius: 0;
}
button.close.top_wthree_agile {
    margin: -34px 0 0 0;
    color: #000;
}
.bb-middle-agileits-w3layouts.forth.grid {
    margin-top: 0.95em;
}

/*-- schedule-bottom --*/
.schedule-bottom {
    background: #2fdab8;
}
.agileits_schedule_bottom_right,.agileinfo_schedule_bottom_left {
    padding: 0;
}
.agileinfo_schedule_bottom_left img{
	width:100%;
}
.w3ls_schedule_bottom_right_grid{
    padding: 3em 2em;
    background: #fff;
    margin: 6.5em 0 0;
    width: 90%;
    box-shadow: 5px 0px 10px #19a98c;

}
.w3ls_schedule_bottom_right_grid h3{
    text-transform: uppercase;
    font-size: 1.4em;
    color: #212121;
    letter-spacing: 2px;
    font-weight: 700;
}
.w3ls_schedule_bottom_right_grid h3 span{
	color:#fc636b;
}
.w3ls_schedule_bottom_right_grid p{
	margin:1em 0 2em;
    color: #545454;
	line-height:2em;
}
.w3l_schedule_bottom_right_grid1{
	text-align:center;
}
.w3l_schedule_bottom_right_grid1 i{
    font-size: 1.5em;
    color: #2fdab8;
    display: block;

}
.w3l_schedule_bottom_right_grid1 h4{
	margin: 1em 0;
    color: #212121;
    text-transform: uppercase;
    font-size: 1em;
	letter-spacing: 2px;
}
.w3l_schedule_bottom_right_grid1 h5{
	font-size:2em;
	color:#212121;
	font-weight:600;
}
h3.wthree_text_info {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 1em;
    text-transform: uppercase;
}
h3.wthree_text_info span{
  font-weight:300;
}
/*-- //schedule-bottom --*/
/*-- new_arrivals --*/
.new_arrivals{
	padding:90px 0;
}
.new_arrivals h3{
	color:#000;
	font-size:36px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:30px;
}
.new_arrivals h3 span{
	color:#2fdab8;
}
.new_arrivals p{
	color:#848484;
	font-size:16px;
	text-align:center;
}
.new-gd-left{
position:relative;
}
.new-gd-left img{
	width:100%;
}
.new_grids{
	margin-top:55px;
}
.wed-brand h5 {
    margin: 20px 0;
    color: #000;
    font-size: 23px;
    text-align: center;
}
.wed-brand h4{
	font-size:23px;
	text-align:center;
	color:#000;
	text-transform:uppercase;

}

.wed-brand {
    position: absolute;
    top: 28%;
    left: 12%;
}
/* Outline Out */
.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2fdab8;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #2fdab8 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before,.hvr-outline-out:focus:before,.hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
.wed-brand p i {
    text-decoration: line-through;
}
.wed-brand p {
    font-size: 21px;
    color: #000;
    text-align: center;
}
.wed-brand p a{
    color: #fff;
    padding: 9px 0px;
    display: block;
    text-transform: uppercase;
    margin: 25px auto 0;
    font-size: 16px;
    width: 50%;
	text-decoration:none;
}
.wed-brandtwo h4{
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.wed-brandtwo {
    position: absolute;
    top: 36%;
    left: 20%;
}
.wed-brandtwo p {
    font-size: 45px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.new-gd-middle img {
    width: 100%;
}
.new-levis {
    border: 1px solid #D2D2D2;
    background: #fff;
    padding: 45px 28px;
}
.mid-text {
    float: left;
    width: 48%;
    margin: 0 5%;
}
.mid-text h4 {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.5em;
	margin-bottom:15px;
}
.mid-text h4 span{
	display:block;
}
.mid-img {
    float: left;
    width: 35%;
    margin: 13% 3% 0;
}
.mid-text a {
    font-size: 16px;
    color: #fff;
    padding: 8px 18px;
}
.new-levis:nth-child(2) {
    margin-top: 35px;
}
.product-men img {
    width: 100%;
}
/*-- //new_arrivals --*/
/*-- Shopping-Cart-PopUp --*/
/*-- cart --*/
.product_list_header {
    float: right;
}
.snipcart-details {
    text-align: center;
	margin:0.5em auto 1em;
    width:77%;
}
.btn-danger.my-cart-btn:focus {
    outline: none;
}
.snipcart-details input.button {
    font-size: 13px;
    color: #fff;
    background: #2fdab8;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: .5em 0;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}
.agile_top_brand_left_grid:hover .snipcart-details input.button,.snipcart-details input.button:hover{
    background:#2fdab8;
}
.product_list_header input.button {
    color: #fff;
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
    padding: .5em 2.5em .5em 1em;
    border: 1px solid #fe9126;
    margin: .35em 0 0;
    background: url(../images/cart.png) no-repeat 116px 9px;
}
#PPMiniCart form {
    width: 590px !important;
	padding: 10px 20px 40px !important;
	max-height:450px !important;
}
#PPMiniCart ul {
    width: 548px !important;
}
#PPMiniCart .minicart-item a {
    color: #212121 !important;
    font-size: 1em;
    display: block;
    margin-bottom: .5em;
    text-transform: capitalize;
}
#PPMiniCart .minicart-item {
    min-height:60px !important;
}
#PPMiniCart .minicart-attributes li {
    color: #999;
}
#PPMiniCart .minicart-remove {
    background: #3399cc !important;
    border: 1px solid #3399cc !important;
	opacity: 1 !important;
	outline:none;
}
#PPMiniCart .minicart-submit {
    display: none;
}
#PPMiniCart .minicart-submit:hover{
	background:#fe9126 !important;
	border-color: #5b951a !important;
}
#PPMiniCart .minicart-subtotal {
    padding-left: 25px !important;
	bottom: -17px !important;
}
#PPMiniCart {
    left: 44% !important;
}
.minicart-showing #PPMiniCart form{
    overflow-x: hidden;
    overflow-y: auto;
}
#PPMiniCart .minicart-footer {
    position: relative;
	width: 80%;
}
.product-men {
    margin: top;
    margin-top: 2em;
}
button.w3view-cart {
    outline: none;
    border: none;
    background: #17c3a2;
    width: 48px;
    height: 43px;
    font-size: 24px;
    color: #000;
}
/*-- //cart --*/
/*-- effect --*/
.men-pro-item {
    position: relative;
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding-bottom: 20px;
}
.men-thumb-item {
    position: relative;
    margin-top: 20px;
}
.item-info-product {
    text-align: center;
    margin: 20px 0 0;
}
.men-thumb-item::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    transition: all 0.5s ease-out 0s;
}
.men-thumb-item .pro-image-front {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.pro-image-back {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
    z-index: 10;
}
.product-new-top {
    background:#fc636b none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    right: 0;
    padding: 0 10px 1px;
    position: absolute;
    top: 0;
    z-index:99;
}
.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro ul {
    left: 0;
    margin: -60px 0 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    bottom: -40px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}
.link-product-add-cart {
    background:#000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro > ul > li {
    display: inline-block;
}
.inner-men-cart-pro ul li a {
    color: #fff;
    transition: all 0.5s ease-out 0s;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}
.men-thumb-item:hover {
    cursor: pointer;
}
.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item:hover .pro-image-front {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
}
.men-thumb-item:hover .pro-image-back {
    transform: rotateY(0deg);
    opacity: 1;
    visibility: visible;
    background: #f7f7f7;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
    padding: 52px 50px 20px;
}
.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item:hover .inner-men-cart-pro ul {
    margin: 20px 0 0;
}
.inner-men-cart-pro ul li a:hover {
    background: #ffc229 none repeat scroll 0 0;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}
.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 83.5%;
}
.link-product-add-cart:hover {
    background: #2fdab8 none repeat scroll 0 0;
    color: #fff;
}
/*-- //effect --*/
.item-info-product h4 a {
    font-size: 0.9em;
    color: #fc636b;
    text-decoration: none;
    font-weight: 600;
}
.info-product-price {
   margin: 10px 0;
}
.info-product-price span {
    color: #000;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}
.info-product-price del {
	color: #908e8e;
    margin-left: 10px;
    letter-spacing: 1px;
}
.yes-marg{
	margin-top:30px;
}
a.single-item{
	color:#fff;
    font-size: 16px;
    padding: 3px 14px;
	text-decoration:none;
}
.occasion-cart {
    width: 30%;
}


.multi-gd-text a {
    display: block;
    position: relative;
}
.multi-gd-text a:hover::before {
    width: 100%;
    height: 100%;
}
.multi-gd-text a::before {
    background: rgba(0,0,0,0.1);
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}
.multi-gd-text img {
    height: auto;
    width: 100%;
}
.multi-gd-text a:hover::after {
    width: 100%;
    height: 100%;
}
.multi-gd-text a::after {
    background: rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}


/*-- Slider Part starts Here --*/

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.css-treeview
	{
		-webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
	}

	@-webkit-keyframes webkit-adjacent-element-selector-bugfix
	{
		from
		{
			padding: 0;
		}
		to
		{
			padding: 0;
		}
	}
}

.products-left i {
    color: #2fdab8;
}
/*-- //treeview --*/


