/* Style the form */
#regForm {
    
  padding-top: 10%;

    

    
  }
  
  /* Style the input fields */
  input {
    
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    padding-top: 7%;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  #multi_name
  {
    color: #17a2b8;
    font-family: 'Josefin Sans', sans-serif;
  }
  #multi-col1
  {
    padding-right: 0%;
  }
  #multi-txt
  {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
  }